@import '../styles/variables';

.yk-container {
  padding-top: @navHeight;
}

// overwrite weui
.yk-toast {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 7.6em;
  max-width: 10em;
  width: initial;
  margin: 0;
}