{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "no-underscore-dangle": ["error", { "allow": ["__INITIAL_STATE__"] }],
    "no-console": ["error", { "allow": ["log", "info"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-unused-prop-types": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/prefer-default-export": 0,
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
    "react/prefer-stateless-function": 0,
    "no-plusplus": 0,
    "jsx-a11y/no-static-element-interactions": 0
  },
  "plugins": [
    "react", "import"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules"]
    }
  },
  "globals": {
    "document": true,
    "window": true,
    "__DEBUG__": true,
    "__INITIAL_STATE__": true,
    "fetch": true
  }
}
