@spacing: 30px;

.yk-creation {
  padding-top: @spacing;

  .yk-step-container {
    margin-top: @spacing;
  }

  .yk-btn {
    padding: 0 15px;
    margin-top: 3em;

    > * {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .hash-container {
    margin-top: @spacing;

    .wording {
      margin-bottom: -1em;
    }
  }
}