<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>有空儿</title>
    <script>
        window.__INITIAL_PARTICIPATE_STATE__ = JSON.parse("{{if .InitialParticipate}}{{ .InitialParticipate }}{{else}}{}{{end}}");
        window.__INITIAL_ADMIN_STATE__ = JSON.parse("{{if .InitialAdmin}}{{ .InitialAdmin }}{{else}}{}{{end}}");
        window.__IS_SSR__ = {{.IsSSR}};
    </script>
</head>
<body>
<div id="root"></div>
</body>
</html>